@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* --------------------(Reset)------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */

  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  /* Neutral */

  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Blue: hsl(228, 45%, 44%);

  /* Gradients */

  --Gradient-1: hsl(0, 0%, 100%);
  --Gradient-2: hsl(0, 100%, 98%);
  --Gradient-3: hsl(0, 80%, 86%);
  --Gradient-4: hsl(0, 74%, 74%);
}

/* --------------------(Body)------------------------*/
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--Desaturated-Red);
}

.container {
  width: 375px;
  height: 800px;
  margin: 0 auto 80px;
  background-color: var(--Gradient-2);
}

.container-logo {
  width: 100px;
  margin: 30px;
}

.container-hero {
  margin-bottom: 60px;
}

.container-content-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  color: var(--Dark-Grayish-Red);
  font-weight: 700;
  letter-spacing: 11px;
  margin-bottom: 30px;
}

.container-content-title--color-red {
  color: var(--Desaturated-Red);
  font-weight: 300;
}

.container-content--description {
  margin: 0 40px 40px;
  text-align: center;
  font-size: 0.85em;
  line-height: 1.4em;
}

.container-content-form {
  width: 310px;
  height: 50px;
  margin: auto;
  position: relative;
}

.container-content-form--email {
  width: 90%;
  height: 100%;
  border-radius: 50px;
  padding-left: 25px;
  border: 1px solid var(--Desaturated-Red);
  outline: none;
  /* background-image: url(./images/icon-error.svg); */
  background-repeat: no-repeat;
  background-position: 210px;
  background-color: var(--Gradient-2);
}

.container-content-form--email::placeholder {
  color: var(--Desaturated-Red);
}
.container-content-form--button {
  position: absolute;
  right: 0;
  width: 68px;
  height: 52px;
  border-radius: 50px;
  padding: 14px 25px;
 
  background: linear-gradient(135deg, var(--Gradient-3), var(--Gradient-4));
  border: none;
  outline: none;
}

.container-content-form--button:hover {
  background: linear-gradient(135deg, var(--Gradient-2), var(--Gradient-4));
  box-shadow: 0 5px 10px var(--Desaturated-Red);
}

.container-content-form-email--message {
  font-size: 0.85em;
  margin: 8px 0 0 16px;
  color: var(--Soft-Red);
}

/* --------------------(Footer)------------------------*/
.attribution {
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}
.attribution a {
  color: var(--Blue);
  text-decoration: none;
}

/* --------------------(Screen > 1140px)------------------------*/
@media only screen and (min-width: 1140px) {
  .container {
    width: 1440px;
    height: 800px;
    background-image: url(./images/bg-pattern-desktop.svg);
    position: relative;
  }

  .container-logo {
    width: 160px;
    margin-top: 60px;
  }

  .container-hero {
    content: url(./images/hero-desktop.jpg);
    position: absolute;
    right: 0;
  }

  .container-content {
    width: 444px;
    margin: 125px 0 0 36px;
  }

  .container-content-title {
    text-align: left;
    font-size: 4.1em;
    letter-spacing: 15px;
  }

  .container-content--description {
    text-align: left;
    font-size: 1em;
    margin: 0 0 40px;
  }

  .container-content-form {
    width: 100%;
    height: 60px;
  }

  .container-content-form--email {
    background-position: 300px;
    padding-left: 32px;
  }

  .container-content-form--button {
    width: 100px;
    height: 62px;
    padding: 20px 42px;
  }
}
